.about--description {
    font-size: 13px;
    font-weight: 400;
    padding: 15px;
    font-family: 'Inter';
}

.about--container {
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 350px;
    height: 53vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    background-color: #fefeff;
}

.about--image {
    object-fit: fill;
    margin-top: -40px;
}

.main--container {
    display: flex;
    justify-content: center;
    row-gap: 3.8vh;
    background-color: #f4f5f9;
}

.about--about {
    top: 3.8vh;
    font-weight: 600;
    font-family: 'Inter';
    font-size: 19px;
    color: rgb(41, 41, 41);
}




