.homepage--balance{

    display: flex;
    justify-content: center;

}

.balance--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.balance--display{
    border: 1px solid black;
    margin: 10px auto;
    font-size: xx-large;
}

.balance--button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn--withdraw, .btn--deposit{
  flex-grow: 1;

}

.btn {
  background-color: #001e5e;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn:hover {
  background-color: #365aa9;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


