

.balance--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 1em;
}

.balance--display{
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    width: 20rem;
    font-size: xx-large;
    border-radius: 10px;
}

.balance--button-container{
    width: 20rem;
    display: flex;
    justify-content: space-between;

}

.btn {
  background-color: #001e5e;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn--inactive{
  opacity: 50%;
  background-color: whitesmoke;
  border: 1px solid #001e5e;
  color: #001e5e;
}




.btn:hover {
  opacity: 1;
  background-color: #365aa9;
  color: whitesmoke;
}

.btn--transfer{
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


