
*{
    margin:0;
    padding:0;
    font-family: inherit;
}
.card--container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
   
  }


#form {
    top: 5vh;
    background: #fff;
    max-width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 3px #545454e8;
    position: relative;
  }
  
  #form input,
  #form select {
    margin: 2vh 0;
    padding: .8vh 3vw;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    width: 100%;
  }
  
  #form h4 {
    color:rgb(147, 146, 146);
    font-size: 2vh;
  }
  
  #form .input-container {
    position: relative;
    font-size: .7vh;
    color: #333;
  }
  
  #form .input-grp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6vh;
  }
  
  #form button {
    width: 100%;
    padding: 1.5vh 0.5vw;
    margin-top: 1.5vh;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #060a24;
    color: #FFF;
    letter-spacing: 1px;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    z-index: 4;
  }
  
  #form button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
  }
  
  .card--page-title{
    padding-top: 3vh;
    font-weight: 600;
    font-family: 'Inter';
    text-align: center;
    font-size: 19px;
    color: rgb(41, 41, 41)
  }
