.contact-us {
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
    font-size: 19px;
    color: rgb(41, 41, 41);
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-field-subject, .contact-field-email {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377d6a;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px;
    transition: all 0.3s ease-in-out;
}
.contact-field-subject, .contact-field-email:-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}
.contact-field-subject, .contact-field-email + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: #032429;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    background: rgba(122, 184, 147, 0);
}
.contact-field-subject, .contact-field-email + label:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(122, 184, 147, 0);
    transition: all 0.3s ease-in-out;
}
.contact-field-subject, .contact-field-email:focus, .contact-field-subject, .contact-field-email:active {
    color: #377d6a;
    text-indent: 0;
    background: #fff;
}
.contact-field-subject, .contact-field-email:focus::-webkit-input-placeholder, .contact-field-subject, .contact-field-email:active::-webkit-input-placeholder {
    color: #aaa;
}
.contact-field-subject, .contact-field-email:focus + label, .contact-field-subject, .contact-field-email:active + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    background: rgba(122, 184, 147, 1);
    transform: translateY(-40px);
}
.contact-field-subject, .contact-field-email:focus + label:after, .contact-field-subject, .contact-field-email:active + label:after {
    border-top: 4px solid rgba(122, 184, 147, 1);
}
