

.dashboard {
  height: 79vh;
  background-color: #fefeff
}

.dashboard--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5em;
    background-color: #f4f5f9;
    row-gap: 0.4em;
}

.dashboard--cryptocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefeff;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    margin-top: 2.5em;  
}

.dashboard--card {
    width: 90vw;
    height: 13vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    margin-top: 0.7em;
    top: 5em;
    background-color: #fefeff;  
}

.dashboard--crypto {
    width: 90vw;
    height: 11vh;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    margin-top: 0.7em;
    top: 5em;
    background-color: #fefeff;
}

.dashboard--balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;

}

.dashboard--add-funds {
    border-radius: 50%;
    font-size: 3em;
    border-width: 1px;
    height: 50px;
    width: 50px;
    background-color: #ba1e29;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    line-height: 0;
    font-size: 27px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

.dashboard--amount {
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 500;
}

.dashboard--currency {
    font-size: 20px;
    font-family: 'Inter';
}

.dashboard--current-balance-text {
    font-size: 13px;
    color: rgb(64, 64, 64);
    font-family: 'Inter';
    font-weight: 500;
    margin-bottom: 0.5vh;

}

.dashboard--current-balance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dashboard--account-overview {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 19px;
    color: rgb(41, 41, 41);
}

.dashboard--crypto-image{
    height: 50px;
    width: 50px;
}


