



.details {
    height: 79vh;
}

.details--avatar {
    font-size: 5em;
    color: rgb(135, 132, 132);
}

.details--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-family: Poppins;
    background-color: #f4f5f9;
}

.details--first-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    
}
.details--first-section img {
    border-radius: 50%;
}
.details--edit-section {
    display: flex;
    justify-content: flex-end;
}

.details--second-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap:0.2em;
    margin: 0.3em;
    font-weight: 200;
}

.details--second-section--items {
    margin: 0.1em;
    font-size: 14px;
}

.details--name {
    font-size: 25px;
}

.details--card {
    width: 21em;
    height: 23em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    row-gap: 1em;
    background-color: #fefeff;
    
}

.edit-btn {
    font-size: 24px;
    border: none;
    margin-left: 12em;
    background-color: #fefeff;
    margin-right: 0;
}

