

.faq--page-title {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 19px;
    color: rgb(41, 41, 41);
}

.faq--question {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter';
}

.faq--answer {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter';
}

.faq--contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3em;
    height: 40em;
    row-gap: 1em;
    width: 80%;
    font-family: 'system-ui';
}

.accordion--panel {
    height: 3.4em;
    border-radius: 10px;
}

.accordion--panel2 {
    height: 4.7em;
}

.redirect-link-to-form {
    text-decoration: underline;
}

