.footer {
    z-index: 9;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 100%;
    position: absolute;
    bottom: 0.4em;
    
}

.footer--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer--icons--home, .footer--icons--profile, .footer--icons--wallet {
    font-size: 2em;
    text-decoration: none;
    color: rgb(187, 187, 187)
}