@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.main{
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content:start;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}



