 .header{
    display: block;
    width: 100%;
    background: rgb(26, 26, 26);
}

.header--navbar {
    display: flex;
    padding-right: 1em;
    padding-left: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    max-height: 12vh;
}

.header--logo {
    align-self: center;
    margin-top: 15px;
}

.align--span {
    width: 12%;
}