.header{
    display: block;
    width: 100%;
    background-color: #001e5e;

}

.header--navbar{
    display: flex;
    margin: 0 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar--logo{
    justify-self: end;
}

.navbar--burger{
    color: white;
    text-align: center;
    font-size: 3em;
    display: inline-block;
    text-decoration: none;
    line-height: 0.88em;
}