.header{
    display: block;
    width: 100%;
    background-color: #001e5e;

}

.header--navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar--burger{
    color: white;
    text-align: center;
    font-size: 3em;

}