.input-form{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    gap: 5px;
}

.input-field{
    border: solid 1px rgb(190, 190, 190);
    text-indent: 14px;
    font-size: 16px;
    height: 4rem;
    width: 20rem;
    border-radius: 5px;
}

.input-field:hover{
    border: solid 1px black;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-spin {
    -moz-appearance:textfield !important;
}