.input-form{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82vw;
    gap: 5px;
}

.input-field{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: solid 1px rgb(190, 190, 190);
    text-indent: 14px;
    font-size: 16px;
    height: 6vh;
    width: 82vw;
    border-radius: 5px; 
}

.input-field:focus{
    border: solid 1px blue;
}

.input-field:hover{
    border: solid 1px black;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-spin {
    -moz-appearance:textfield !important;
}