
.landingpage--main {
    gap: 1vh;
    height: 86vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.sp-highlight{
    color: #ba1e29;
    font-weight: bold;
}
  
  .dashboard--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 2.5em;
      background-color: #f4f5f9;
      row-gap: 0.4em;
  }
  
  .dashboard--card-ads {
    margin-top: 10vh;
    width: 90vw;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
    padding: 2em 2em;
    align-items: flex-start;
    margin-top: 0.7em;
    background-color: #fefeff;  
    font-size: 12px;
}

  
  .selling-point--text {
      font-size: 20px;
      font-family: 'Inter';
      font-weight: 500;
  }

  .dashboard--current-balance-text {
      font-size: 13px;
      color: rgb(64, 64, 64);
      font-family: 'Inter';
      font-weight: 500;
      margin-bottom: 0.5vh;
  
  }
  
  .dashboard--current-balance {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

  }
  
  .dashboard--account-overview {
      font-weight: 600;
      font-family: 'Inter';
      font-size: 19px;
      color: rgb(41, 41, 41);
  }
  
  .dashboard--crypto-image{
      height: 50px;
      width: 50px;
  }

  .btn-landing {

    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90vw;
    max-width: 400px;

    margin-top: 2vh;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    
  }

  .checkmark{
    color: #ba1e29;
    position: relative;
    bottom: -0.12em;
  }
  


  .btn-landing:hover {
    opacity: 1;
    transform: translateY(-2px);
  }

  .square--card {
    height: 13vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    margin-top: 0.7em;
    flex-grow: 1;
    background-color: #fefeff;  
}

.two-squares {
    display: flex;
    width: 90vw;
    max-width: 800px;
    justify-content: space-between;
    gap: 5.5vw;
  }

  .image-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .landing--payment-logos {
    opacity: 90%;
  }

  .sellingpoint-item {
    font-size: 12px;
  }

  .bottom-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3vh;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.image-container{
  opacity: 60%;
}



  
  