.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 2em;
    height: 10vh;
}

.google-icon {
    width: 13em;
    height: 3em;
}

.login--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}