.registration--form{

    display: flex;
    flex-direction: column;
    width: 50%;  
    align-items: center;
    
    

}
.form--input{
    padding: 2em
}
.zen-button{
    
   text-align: center;
   padding: 2em;
    margin: 20px auto;
}
