
.transactions--header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    align-items: flex-end;
}
.transactions--page-header{
  width: 80%;
}
.transactions--header{
    display: block;
    margin: 0;
}
  
  .transaction-container{
    width: 82vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    margin-top: 0.7em;
    top: 5em;
    background-color: #fefeff;  
  }

  .transaction-page-container{
    width: 80%;
    height: 79vh;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    overflow-y: scroll;
  }
  
  .transaction-list{
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .amount-description{
    display: flex;
    justify-content: space-between;
  }

  a{
    text-decoration: none;
    color: black;
  }
.line{
  width: 100%;
}

.transaction{
  display: flex;
  justify-content: space-between;
  padding: 10px 1px; 
}

.transactions-link {
  color: rgb(44, 44, 255);
}

  